{% extends 'base.html' %}
{% block title %}企业介绍{% endblock %}
{% load static %}
{% block content %}
    <div class="bg_b">
        <div class="pst">
            您当前的位置：
            <a href="index.html">首页</a> >
            <a href="about.html">企业介绍</a>
        </div>
    </div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name">
                <img src="{% static 'images/name_2.png' %}"/>
                <i>&nbsp;</i>
            </div>
            <ul class="s_nav">

                <li class="on">
                    <a href="{% url 'app:about' %}">企业介绍</a>
                </li>

                <li>
                    <a href="{% url 'app:team' %}">精英团队</a>
                </li>

                <li>
                    <a href="{% url 'app:contact' %}">联系我们</a>
                </li>

            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top"><span>企业介绍</span></div>
            <div class="scd_m clearfix about">
                <img src="{{ company_info.image.url }}" width="295" height="290" alt=""
                     style="float:left; margin-right:15px; margin-top:15px;">
                <p style="font-size:16px; padding-top:15px; font-weight:bold; margin-bottom:10px;">{{ company_info.name }}</p>
                {{ company_info.desc|safe }}
            </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
{% endblock %}