{% extends 'base.html' %}
{% block title %}案例中心{% endblock %}
{% load static %}
{% block content %}
    <div class="bg_b">
        <div class="pst">
            您当前的位置：<a href="{% url 'app:index' %}">首页</a> > <a href="{% url 'app:case' %}">合作案例</a>
        </div>
    </div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name">
                <img alt="" src="{% static 'images/name_6.png' %}"/>
                <i>&nbsp;</i>
            </div>
            <ul class="s_nav">
                <li {% if type == '0' %}class="on"{% endif %}>
                    <a href="{% url 'app:case' %}?type=0">家装案例</a>
                </li>
                <li {% if type == '1' %}class="on"{% endif %}>
                    <a href="{% url 'app:case' %}?type=1">工装案例</a>
                </li>
                <li {% if type == '2' %}class="on"{% endif %}>
                    <a href="{% url 'app:case' %}?type=2">其他案例</a>
                </li>
            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top"><span>合作案例</span></div>
            <div class="scd_m">

                {% for case in object_list %}
                    <dl class="news clearfix">
                        <dt><a href="{% url 'app:case-detail' case.pk %}"><img src="{{ case.image.url }}" alt=""/></a>
                        </dt>
                        <dd>
                            <div class="title">
                                <p><a href="{% url 'app:case-detail' case.pk %}">{{ case.title }}</a></p>
                                <span>{{ case.create_time }}</span>
                            </div>
                            <div class="des">
                                {{ case.content }}
                            </div>
                            <div class="more"><a href="{% url 'app:case-detail' case.pk %}">查看详情>></a></div>
                        </dd>
                    </dl>
                {% endfor %}
                <div class="space_hx">&nbsp;</div>
                <div class="pages">

                    {% if page_obj.has_previous %}
                        <a href="{% url 'app:case' %}?page={{ page_obj.previous_page_number }}">上一页</a>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <a href="{% url 'app:case' %}?page={{ page_obj.next_page_number }}">下一页</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}