{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--幻灯片-->
    <div class="bg_b">
        <div class="pst">
            您当前的位置：
            <a href="{% url 'app:index' %}">首页</a> >
            <a href="{% url 'app:about' %}">关于我们</a> >
            <a href="{% url 'app:map' %}">在线地图</a>
        </div>
    </div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name">
                <img alt="" src="{% url 'images/name_2.png' %}"/>
                <i>&nbsp;</i>
            </div>
            <ul class="s_nav">
                <li><a href="{% url 'app:index' %}">企业介绍</a></li>
                <li><a href="{% url 'app:about' %}">联系我们</a></li>
                <li class="on"><a href="{% url 'app:map' %}">在线地图</a></li>
            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top"><span>在线地图</span></div>
            <div class="scd_m">
                <iframe src="map/mapapi.html"></iframe>
            </div>
        </div>
    </div>
{% endblock %}